<!DOCTYPE html>
<html>
  <head>
    <title>Todo Notification</title>
  </head>
  <body>
    <h1><%= notificationFrequency %> Update for Dr. <%= doctorName %></h1>
    <p>
      This is your <%= notificationFrequency %> update concerning client tasks:
    </p>
    <p>Total Number of clients: <%= totalPatients %></p>
    <p>Total Tasks in Progress: <%= inProgressTodos %></p>
    <p>
      <%= uniquePatientsWithInProgressTodos %> patient(s) have <%=
      inProgressTodos %> todo item(s) currently in progress.
    </p>
    <p>
      Please click the link below to view all todo notes:
      <a href="#" target="_blank" rel="nofollow">View Todo Notes</a>
    </p>
  </body>
</html>
